@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');


/* 초기화 */
* {
    margin: 0; padding: 0;
}
a { text-decoration: none !important; }
img { border: 0; }
ul { list-style: none; }

/* 본문폭 */
#wrap {
    width: 960px; 
    margin: 0 auto;
    overflow: hidden;
}

/* GNB */

#main_navbar > .gnb_container {
    background: black;
    height: 40px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

#main_navbar .gnb {
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

#main_navbar .logo {
    float: left;
    width: 190px;
    margin-left: 120px;
    padding-top: 12px;
}

#main_navbar ul {
    float: left;
    overflow: hidden;
    padding-left: 30px;
}

#main_navbar ul > li {
    font-size: 14px;
    float: left;
    padding: 22px 17px;
    padding-top: 12px;
}


#main_navbar .lnb {
    font-size: 14px;
    float: right;
    width: 260px;
    text-align:right;
    padding-top: 12px;
    margin-right: 120px;
}

#main_navbar .trigger {
    float: right;
    width: 23px;
    text-align: right;
    padding-top: 4px;
    display: none;
}

/* 0 ~ 767 */
@media screen and (max-width: 767px) {
    #main_navbar .gnb {
        width: 90vw;
    }

    #main_navbar .logo {
        padding-top: 12px;
        width: 50px;
    }


    #main_navbar .lnb {
        float: right;
        padding-top: 12px;
        width: 50px;
    }


    #main_navbar .nav { 
        display: none;
    }

    #main_navbar .trigger {
        display: block;
        position: absolute;
        float: left;
        width: 50px;
        padding-top: 12px;
    }
}

/* 768 ~ 1023 */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    #main_navbar .gnb, .lnb {
        width: 90vw;
    }
}

/* 1024 ~ */
@media screen and (min-width: 1024px) {

}
/* footer */
.footer {
    overflow: hidden;
    padding-top:30px;
    padding-bottom:30px;
    background-color:#34495e;
}
.footer-info {
    margin-left:120px;
    margin-right:120px;
}
.content {
    float: left;
    color:#fff;
}
.content > P {
    font-size: 11PX;
}
.sns {
    float: right;
}
.sns a {
    margin-right:30px;
}

@media screen and (min-width:764px) {
    .footer {
        padding-top:10px;
        padding-bottom:10px;
        background-color:#34495e;
    }
    .content {
        float: none;
        color:#fff;
    }
    .content > P {
        font-size: 11px;
    }
    .sns {
    }
    .sns a {
        margin-right:10px;
    }
}
