@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');



* {
    font-family: 'Noto Sans KR', sans-serif;
}


/* section01 */
#section01 {
    position: relative;
    overflow: hidden;
    background-color: tan;
    background: url("../images/Untitled-1.png"); background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    top: 50px;
}

#section01 > .inner-txt {
    padding-top: 160px;
    margin-left: 180px;
    float: left;
    color: white;
}

#section01 > .inner-txt > h2 {
    font-weight: 700;
}
#section01 > .inner-txt > p {
    font-weight: 200;
    font-size: 16px;
}



/*0 ~ 767*/
@media screen and (max-width: 767px) {
    #section01 > .inner-txt {
        padding-top: 80px;
        margin-left: 30px;
        margin-right: 30px;
    }

}




/* 본문폭 */
#wrap {
    width: 960px; 
    margin: 0 auto;
    overflow: hidden;
}

.title { 
    margin-top: 120px;
    text-align: center;
}



/*0 ~ 767*/
@media screen and (max-width: 767px) {

    #wrap {
        width: 90vw;
        margin: 0 auto;
        overflow: hidden;
    }
}
   

/* 768 ~ 1023 */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    #wrap {
        width: 90vw; 
        margin: 0 auto;
        overflow: hidden;
    }
    
    .title { 
        margin-top: 120px;
        text-align: center;
    }
    
}


/* 1024 ~ */
@media screen and (min-width: 1024px) {

}

/* 메뉴 소개 */
#menuintroduce  {
    margin: 0 auto;
    box-sizing: border-box;
}

#menuintroduce > .menuarticle {
    width: 100%;
    margin-top: 42px;
    margin-bottom: 42px;
    display: inline-block;
    box-sizing: border-box;
}
.menuarticle > img {
    display: inline-block;
    float: left;
    width: 50%;
    margin-right: 5%;
    margin-bottom: 42px;
}
.menutxt {
    float: left;
    width: 45%;
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 42px;
}

.menutxt > .menuprice {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
}

.menutxt > .menutitle {
    color: #2A2465;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.menutxt > .menusub {
    color: #777777;
    font-size: 14px;
    margin-bottom: 10px;
}

/*0 ~ 767*/
@media screen and (max-width: 767px) {
    #wrap {
        width: 90vw;
        margin: 0 auto;
        overflow: hidden;
    }

    .title { 
        text-align: center;
    }  

    .menuarticle {
        width: 90vw;
    }

    .menuarticle > img {
        display: block;
        float: none;
        width: 80vw;
        margin: 0 auto;
    }
    .menutxt {
        float: none;
        width: 80vw;
        display: block;
        margin: 0 auto;
    }

    .menutxt > .menutitle {
        margin-top: 10px;
    }
}    